.sidebar {
    background: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;
}

.cover {
    width: 100%;
    height: 72%;
    /* A propriedade CSS object-fit é usada para especificar como uma imagem 
    ou vídeo deve ser redimensionado para caber em um contêiner. A propriedade 
    cover é um dos valores que podem ser atribuídos a object-fit. */

    /* Ao definir object-fit: cover, a imagem ou vídeo é dimensionado para 
    preencher o contêiner pai enquanto mantém a proporção de aspecto original.
     Isso significa que a imagem ou vídeo será redimensionado para que uma 
     dimensão (largura ou altura) se ajuste ao tamanho do contêiner pai, 
     enquanto a outra dimensão pode ser cortada para que o elemento preencha 
     todo o espaço disponível no contêiner, sem distorcer a proporção original. 
     */
    object-fit: cover;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* margin-top: calc(0px - 1.5rem - 6px); */
    margin-top: calc(0px - 1.5rem - 6px);
}

.profile strong {
    margin-top: 1rem;
    color: var(--gray-100);
    line-height: 1.6;
}

.profile span {
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.sidebar footer {
    border-top: 1px solid var(--gray-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
    background: transparent;
    color: var(--green-500);
    border: 1px solid var(--green-500);
    border-radius: 8px;
    height: 50px;
    font-weight: bold;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;

    transition: color 0.1s, background-color 0.1s;
}

.sidebar footer a:hover {
    background: var(--green-500);
    color: var(--white);
}